@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
	body {
		@apply font-poppins;
	}
	li {
		@apply p-4 text-xl;
	}
	h1 {
		@apply text-3xl md:text-4xl font-bold;
	}
	h2 {
		@apply text-2xl md:text-3xl font-bold;
	}
	h3 {
		@apply text-xl md:text-2xl font-bold;
	}
	h4 {
		@apply text-lg md:text-xl font-bold;
	}
}

@layer components {
	.btn {
		@apply px-4 py-2 border bg-gradient-to-r from-primary-200 to-primary-100 text-white rounded-md;
	}
	.btn--form {
		@apply p-2 border bg-gradient-to-r from-primary-200 to-primary-100 text-white rounded-md;
	}
}

@layer utilities {
	.container {
		@apply w-full max-w-6xl mx-auto;
	}
}

.carousel-image {
	width: 100%; /* Set the width to 100% for responsiveness */
	height: 500px; /* Set the desired height */
	object-fit: cover; /* Ensure the image covers the specified dimensions */
}
